.table {
    border-bottom-width: none !important;
}
.btn {
    background-color: #124b8b;
    border: 0 solid #dedede;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    height: fit-content;
}
.label {
  width: 170px;
}