<div class="container-fluid" style="margin-top: 3rem;">
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center">
        <input class="form-control search" name="search" type="text" [(ngModel)]="search"
          (ngModelChange)="onSearchEnter($event)" placeholder="Enter to search skills" minlength="3" name="searchTerm"
          required />
        <button type="button" class="btn btn-primary" style="margin-right: 1rem;" (click)="searchSkills()">Search
          Skills</button>
        <button type="button" class="btn btn-primary" (click)="resetSearch()">Reset</button>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="searchSkill; else addSkill">
        <app-search></app-search>
      </div>
      <ng-template #addSkill>
        <!-- <app-skills></app-skills> -->
        <app-add-skills></app-add-skills>
      </ng-template>
    </div>
  </div>
</div>